html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
footer {
  width: 100%;
  background-color: dimgrey;
  display: flex;
  flex-flow: row;
  justify-items: center;
  align-items: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
