body {
  background-color: #282c34;
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
  .login-button:hover {
    animation: button-hover 1 0.5s forwards ease-out;
  }
  .Login h1 {
    animation: title-logo 1 2s forwards ease-in-out;
  }
}

@keyframes button-hover {
  from {
  }
  to {
    cursor: pointer;
    background-color: aqua;
    color: black;
  }
}

@keyframes title-logo {
  from {
    color: transparent;
  }
  to {
    color: aqua;
  }
}
