/* Logo and Login animations */
@media (prefers-reduced-motion: no-preference) {
  .logo-fade-in {
    animation: logo-fade-in 1 2s forwards ease-in-out;
  }
  .login-fade-in {
    animation: login-fade-in 1 2s forwards ease-in-out;
  }
  .border-around {
    border-radius: 100%;
    animation: border-around 1s infinite linear;
  }
}

@keyframes login-fade-in {
  0% {
    width: 0%;
    display: none;
  }
  50% {
    width: 30vw;
  }
  100% {
    width: 40vw;
    display: block;
  }
}

@keyframes border-around {
  0%,
  100% {
    border-left: 3px solid aqua;
    border-top: 3px solid aqua;
    border-right: 3px solid rgba(0, 255, 255, 0.25);
    border-bottom: 3px solid rgba(0, 255, 255, 0.5);
  }
  25% {
    border-left: 3px solid rgba(0, 255, 255, 0.5);
    border-top: 3px solid aqua;
    border-right: 3px solid aqua;
    border-bottom: 3px solid rgba(0, 255, 255, 0.25);
  }
  50% {
    border-left: 3px solid rgba(0, 255, 255, 0.25);
    border-top: 3px solid rgba(0, 255, 255, 0.5);
    border-right: 3px solid aqua;
    border-bottom: 3px solid aqua;
  }
  75% {
    border-left: 3px solid aqua;
    border-top: 3px solid rgba(0, 255, 255, 0.25);
    border-right: 3px solid rgba(0, 255, 255, 0.5);
    border-bottom: 3px solid aqua;
  }
}

@keyframes logo-fade-in {
  0% {
    width: 100%;
    background-color: transparent;
    color: transparent;
  }
  50% {
    background-color: transparent;
    color: transparent;
  }
  100% {
    width: 100%;
    background-color: inherit;
    color: aqua;
  }
}

/* Chat animations */
@media (prefers-reduced-motion: no-preference) {
  .button:hover {
    animation: button-hover 1 0.5s forwards;
  }
  .load-message-sender {
    animation: load-message-sender 1s forwards 0.5s;
  }
  .load-message-content {
    animation: load-message-content 1s forwards 0.5s;
  }
  .load-message-timestamp {
    animation: load-message-timestamp 1s forwards 0.5s;
  }
}

@keyframes load-message-sender {
  from {
    color: transparent;
    background-color: inherit;
  }
  to {
    color: aqua;
  }
}

@keyframes load-message-content {
  from {
    color: transparent;
    background-color: inherit;
  }
  to {
    color: white;
    background-color: inherit;
  }
}

@keyframes load-message-timestamp {
  from {
    color: transparent;
    background-color: transparent;
  }
  to {
    color: gray;
    background-color: inherit;
  }
}

@keyframes button-hover {
  from {
  }
  to {
    cursor: pointer;
    background-color: aqua;
    color: black;
  }
}

/* Chat list animations */
@media (prefers-reduced-motion: no-preference) {
  .chat:hover {
    animation: chat-illuminate 1 0.5s forwards;
  }
}

@keyframes chat-illuminate {
  from {
    background-color: inherit;
  }
  to {
    background-color: rgb(34, 92, 92);
    cursor: pointer;
  }
}
