@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: title-logo 1 2s forwards ease-in-out;
  }
}

@keyframes title-logo {
  from {
    color: transparent;
  }
  to {
    color: aqua;
  }
}
